.cart-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.product-img-remove {
  display: flex;
  align-items: center;
}

.remove-icon {
  cursor: pointer;
  margin-right: 10px;
  color: red;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.price, .quantity, .subtotal {
  width: 100px;
  text-align: center;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.return-button, .checkout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.return-button {
  background-color: #f0f0f0;
}

.return-button:hover {
  background-color: #e0e0e0;
}

.checkout-button {
  background-color: #ce4813;
  color: white;
}

.checkout-button:hover {
  background-color: #d35b16;
}

.coupon-section {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.coupon-input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.apply-coupon-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e6510d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.apply-coupon-button:hover {
  background-color: #cf390c;
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  color: #666;
}
